<!-- card -->
<div class="card">
    <mat-card>
        <app-card
        bg="orange"
        icon=""
        >
        </app-card>
    </mat-card>
    <mat-card>
        <app-card></app-card>
    </mat-card>
    <mat-card>
        <app-card></app-card>
    </mat-card>
    <mat-card>
        <app-card></app-card>
    </mat-card>
</div>
<!-- areachart -->
<div>
    <app-area-chart></app-area-chart>
</div>
<!-- table -->
<!-- piechart -->
<div class="parent">
    <app-table></app-table>
    <app-piechart></app-piechart>
</div>